<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <% include ../admin/partials/head %>
</head>
<body>
<% include ../admin/partials/header %>



<div class="container">
    <h1>Login Page</h1>
    <!-- Example row of columns -->
    <div class="row">
        <form class="form-horizontal" action="login" method="post">
            <fieldset>

                <!-- Form Name -->
                <legend>Login</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="username"></label>
                    <div class="col-md-5">
                        <input id="username" name="username" placeholder="Benutzername" class="form-control input-md" required="" type="text">

                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password"></label>
                    <div class="col-md-5">
                        <input id="password" name="password" placeholder="Passwort" class="form-control input-md" required="" type="password">

                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-8">
                        <button id="submit" name="submit" class="btn btn-success">Login</button>
                        <button id="cancel" name="cancel" class="btn btn-danger">Abbrechen</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
    </div>

    <hr>
    <% include ../admin/partials/footer %>

</div> <!-- /container -->

<% include ../admin/partials/foot %>
</body>
</html>
