<div class="container col-md-3">


    <h4>Freunde:</h4>


    <div class="media post" *ngFor="#Friend of myfriends">
        <div class="media-left">
            <a href="#/profile/{{Friend.username}}">
                <img class="media-object timelineImage" alt="" src="img/profilimages/64x64/{{Friend.username}}.png">
            </a>
        </div>
        <div class="media-body">
            <a href="#/profile/{{Friend.username}}">
                <h4 class="media-heading">{{Friend.surename}}</h4>
            </a>
            <a (click)="removeFriend(Friend)">Freundschaft beenden</a>
        </div>
    </div>

</div>


<div class="container col-md-9 timeline">

    <div >
        <!--<div *ngIf="unconfirmedFriends != null">-->

        <h4>Freundschaftsanfragen:</h4>

        <div class="media post" *ngFor="#Friend of unconfirmedFriends">
            <div class="media-left">
                <a href="#/profile/{{Friend.username}}">
                    <img class="media-object timelineImage" alt="" src="img/profilimages/64x64/{{Friend.username}}.png">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{Friend.givenName}} {{Friend.surename}}</h4>
                <p>{{Friend.description}}</p>
                <a (click)="requestFriendship(Friend)">als Freund hinzufügen</a>
            </div>
        </div>

        <hr>
    </div>


    <h4>Freunde suchen:</h4>

    <div class="row">
        <div class="col-lg-6 timelineWriteSomeThing">
            <div class="input-group">
                <input #friendname
                       (keyup.enter)="findNewFriend(friendname.value); friendname.value=''"
                       type="text" class="form-control" placeholder="Name des Freundes">
                        <span class="input-group-btn">
                            <button (click)="findNewFriend(friendname.value); friendname.value=''"
                                    class="btn btn-default" type="button">post
                            </button>
                        </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->


    <div class="media post" *ngFor="#Friend of searchedFriends">
        <div class="media-left">
            <a href="/profile/{{Friend.username}}">
                <img class="media-object timelineImage" alt="" src="img/profilimages/64x64/{{Friend.username}}.png">
            </a>
        </div>
        <div class="media-body">
            <a href="#/profile/{{Friend.username}}">
                <h4 class="media-heading">{{Friend.givenName}} {{Friend.surename}}</h4>
            </a>
            <p>{{Friend.description}}</p>
            <a (click)="confirmFriendship(Friend)">als Freund hinzufügen</a>
        </div>
    </div>


</div>