<div class="container col-md-3 content">

    <div *ngFor="#conversation of myConversations.conversations" class="media post"
         [class.selected]="conversation === actConversation"
         (click)="onSelect(conversation)">
        <div class="media-left">
            <a href="#">
                <img class="media-object timelineImage" alt="" src="img/64x64.svg">
            </a>
        </div>
        <div class="media-body">
            <h5 class="media-heading">
                <div *ngFor="#authors of conversation.authors">
                    {{userDict[authors.id].surename}}
                </div>
            </h5>
        </div>
    </div>
</div>


<div class="container col-md-9 timeline content">
    <div *ngIf="actConversation">
        <!-- Post-->
        <div class="media post" *ngFor="#message of actConversation.messages">
            <div class="media-left">
                <a href="#">
                    <img class="media-object timelineImage" alt="" src="img/profilimages/64x64/{{userDict[messageDict[message.id].author].username}}.png">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"> {{userDict[messageDict[message.id].author].surename}}</h4>
                {{messageDict[message.id].content}}
            </div>
        </div>





        <!--&lt;!&ndash; Post&ndash;&gt;-->
        <!--<div class="media">-->
            <!--<div class="media-body">-->
                <!--<h4 class="ChatName-right">Ich</h4>-->
                <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras-->
                <!--purus odio, vestibulum in vulputate at, tempus viverra turpis.-->
            <!--</div>-->
            <!--<div class="media-right">-->
                <!--<a href="#">-->
                    <!--<img class="media-object timelineImage" alt="" src="img/64x64.svg">-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Post&ndash;&gt;-->
        <!--<div class="media post">-->
            <!--<div class="media-left">-->
                <!--<a href="#">-->
                    <!--<img class="media-object timelineImage" alt="" src="img/64x64.svg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
                <!--<h4 class="media-heading">Horst</h4>-->
                <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras-->
                <!--purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate-->
                <!--fringilla.-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input #newMessage
                           (keyup.enter)="sendNewMessage(newMessage.value, actConversation._id); newMessage.value=''"
                           type="text" class="form-control" placeholder="...">
                        <span class="input-group-btn">
                            <button (click)="sendNewMessage(newMessage.value, actConversation._id); newMessage.value=''"
                                    class="btn btn-default" type="button">Abschicken
                            </button>
                        </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->

    </div>
</div>
