<div class="titelImage" style="background-image:url('img/bg.jpg')">
    <div class="row">
        <div class="col-md-2 col-md-offset-1" >
            <a href="#" class="thumbnail profilimage">
                <img src="img/profilimages/240x240/{{user.lastName}}.png" alt="...">
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9 col-md-offset-3 profilname">
        <h2>{{user.firstName}} {{user.lastName}} <a class="btn btn-default" href="#" role="button">Nachricht senden</a></h2>
    </div>
</div>

<div class="container col-md-3">
    <div class="row">
        <div class="col-md-12">
            <h5>Geburtsdatum:</h5>
            <p>{{user.birthday}}
            <h5>Info:</h5>
            <p>{{user.information}}</p>
        </div>
    </div>

    <div class="col-md-4 friendImage" *ngFor="#Friend of friends">
        <img alt="" src="img/profilimages/64x64/{{Friend.lastName}}.png">
        <div class="caption">
            <a class="" href="#" role="button">{{Friend.lastName}}</a>
        </div>
    </div>

</div>

<div class="container col-md-9 timeline">

    <div class="row">
        <div class="col-lg-6 timelineWriteSomeThing">
            <div class="input-group">
                <input #newPosting
                       (keyup.enter)="postNewPosting(newPosting.value)"
                       (blur)="postNewPosting(newPosting.value); newPosting.value=''"
                       type="text" class="form-control" placeholder="Was machst du grade?">
                        <span class="input-group-btn">
                            <button (click)="postNewPosting(newPosting.value)" class="btn btn-default" type="button">Posten</button>
                        </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

</div>

<div class="container col-md-9 timeline">
    <!-- Post-->


    <div class="media post" *ngFor="#Posting of messages">
        <div class="media-left">
            <a href="#">
                <img class="media-object timelineImage" alt="" src="img/profilimages/64x64/{{Posting.author}}.png">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{Posting.author}}</h4>
            {{Posting.content}}

            <div class="media post" *ngFor="#Comment of Posting.comments">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object timelineImage" alt="" src="img/profilimages/64x64/{{Comment.author}}.png">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{Comment.author}}</h4>
                        {{Comment.content}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input #newPosting
                               (keyup.enter)="postNewPosting(newPosting.value)"
                               (blur)="postNewPosting(newPosting.value); newPosting.value=''"
                               type="text" class="form-control" placeholder="Was machst du grade?">
                        <span class="input-group-btn">
                            <button (click)="postNewPosting(newPosting.value)" class="btn btn-default" type="button">Posten</button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
    </div>

</div>

<hr>